@using BlazorStyled

<Styled @bind-Classname="@GraphStyle">
    float: left;
    position: relative;
    left: 0%;
    top: .2vh;
    z-index: 20;    
    background-color: rgb(111, 201, 241);
    border: none;
    outline: none;
    width: @PercentCompletePercent;
    height: @GraphHeightStyle;
    display: @progressDisplay;
    transition: @TransitionDuration;
</Styled>
<Styled @bind-Classname="@GraphBackgroundStyle">
    float: right;
    background-color: darkgray;
    background-size: 100% 100%;   
    border: none;
    outline: none;
    width: 100%;
    height: @GraphHeightStyle;
    position: absolute;
    left: 0%;
    top: .2vh;
    z-index: 10;
</Styled>

<div style="display: @Display;">
    <div class="blazoraudioplayer">
        <br><br>
        <audio class="audiocomponent" id="audioPlayer" controlsList="@ControlsList" oncontextmenu="@ContextMenuInfo">
            <source src="@AudioUrl" type="audio/mp3">
            Your browser does not support HTML audio.
        </audio> 

        @if(ShowControlsContainer)
        {  
            <div class="controlcontainer">
                @if(Playing)
                { 
                    <button class="pausebutton" @onclick="PlayOrPause"></button>
                }
                else
                {
                    <button class="playbutton" @onclick="PlayOrPause"></button>
                }
                <div class="audiotimecontrols textdonotwrap">
                    <label id="audioTime" class="audiotimedisplay">@DisplayTime</label>
                    <label id="audioDuration" class="audioduration">@AudioDuration</label>            
                </div>
                <div class="@GraphBackgroundStyle">
                    <button id="graphButton" class="@GraphStyle" @onclick="GraphClicked" ></button>
                </div>
            </div>
        }
    </div>
</div>


